@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
    <h1 class="MainTitle">What we do:</h1>
    <div class="container">
        <div class="row">

            <div class="col-sm-6">

                <h1 class="AboutTitle">TITLE 1.</h1>
            </div>
        </div>
        <div class="row">

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a urna in dui mattis mollis in ac augue. Sed ante ex, viverra a feugiat sit amet, placerat quis mauris. Vestibulum id finibus mauris. Phasellus euismod nulla sit amet accumsan ultricies. Mauris fermentum ullamcorper ex, nec semper ipsum congue vitae. Morbi imperdiet, orci tincidunt molestie placerat, libero enim condimentum lorem, sed sollicitudin arcu orci vitae risus. Nunc id dapibus quam,</p>

        </div>


        <div class="row">

            <div class="col-sm-9 col-sm-offset-3">

                <h1 class="AboutTitle">TITLE 2</h1>
            </div>

            <div class="row">

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a urna in dui mattis mollis in ac augue. Sed ante ex, viverra a feugiat sit amet, placerat quis mauris. Vestibulum id finibus mauris. Phasellus euismod nulla sit amet accumsan ultricies. Mauris fermentum ullamcorper ex, nec semper ipsum congue vitae. Morbi imperdiet, orci tincidunt molestie placerat, libero enim condimentum lorem, sed sollicitudin arcu orci vitae risus. Nunc id dapibus quam,</p>
            </div>

        </div>

    </div>

    <div class="row">

        <div class="col-sm col-sm-offset-7">

            <h1 class="AboutTitle">TITLE 3</h1>
        </div>

        <div class="row">

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a urna in dui mattis mollis in ac augue. Sed ante ex, viverra a feugiat sit amet, placerat quis mauris. Vestibulum id finibus mauris. Phasellus euismod nulla sit amet accumsan ultricies. Mauris fermentum ullamcorper ex, nec semper ipsum congue vitae. Morbi imperdiet, orci tincidunt molestie placerat, libero enim condimentum lorem, sed sollicitudin arcu orci vitae risus. Nunc id dapibus quam,</p>
        </div>

    </div>

</div>
