@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <h1 class="MainTitle">Page Title</h1>

    <br />

    <p>

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a urna in dui mattis mollis in ac augue. Sed ante ex, viverra a feugiat sit amet, placerat quis mauris. Vestibulum id finibus mauris. Phasellus euismod nulla sit amet accumsan ultricies. Mauris fermentum ullamcorper ex, nec semper ipsum congue vitae. Morbi imperdiet, orci tincidunt molestie placerat, libero enim condimentum lorem, sed sollicitudin arcu orci vitae risus. Nunc id dapibus quam, a laoreet sem. Morbi euismod sem eu neque egestas vestibulum. Nam lacinia sodales feugiat. Cras interdum justo erat, id tempus velit porta et. Donec ullamcorper odio at tristique tincidunt. Aenean a dolor tellus. Fusce id eros vel ex rutrum egestas id vitae tortor. Phasellus eget accumsan dui. Etiam risus est, pretium vel elementum at, mollis id urna. Suspendisse enim tellus, sollicitudin non orci id, consequat viverra sapien.

        Vestibulum mattis pharetra risus, nec laoreet ex faucibus in. Pellentesque nec risus vitae velit ornare dictum et id nulla. Pellentesque suscipit, tellus ut facilisis venenatis, elit erat dapibus nunc, ut suscipit metus sapien nec erat. Nulla a dignissim odio. Morbi fermentum justo a nunc dictum, ut malesuada libero rutrum. Phasellus feugiat, nisi sit amet tincidunt lacinia, ante sapien venenatis velit, nec placerat lacus enim vel augue. Nullam et tortor non risus ullamcorper accumsan et sit amet ipsum. Donec nec mi libero. Nullam arcu sapien, rutrum ut velit vel, rutrum pharetra dui. Aliquam commodo lacinia eros, bibendum malesuada erat semper sed. Pellentesque efficitur eu nibh eget euismod. Aliquam rutrum vestibulum rutrum. Donec eu lobortis tellus. Donec volutpat consectetur risus, sit amet suscipit eros porta quis. Curabitur placerat eros a velit congue, et dapibus turpis consequat. Etiam lobortis velit ut neque porttitor, non mollis diam fermentum.

    </p>

    <p><a href="/home/about" class="btn">Join Us &raquo;</a></p>

</div>
